<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><!--  -->
<suite name="Suite">
  <test thread-count="5" name="Test">
   <parameter name="browser1" value= "chrome"/> 
   <parameter name="browser1" value= "firefox"/> 
  
    <classes>
      <class name="com.frameworkbasics1.cva.Chormebrowserlaunch"/>
     <!--  <class name="com.frameworkbasics1.cva.FirefoxBrowserLaunch"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
